# Don't include the PDFs for now
files

# Don't include final exam PDFs
files/*_final.pdf

# Don't include Lyx junk
\#*#
*.lyx~

# Don't include the summaries just yet
summaries.lyx
summaries.pdf
summaries

# Don't include the DS_Store file
.DS_Store

# Usual ignores from GitHub
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
